### Assume any database includes below columns and you are requested to process Stats_Access_Link column and extract pure url information inside per device type. 

    Rules: 
-   Xml tags and protocol parts is guaranteed to be lower case  
-   Access link part that we are interested in can have alpha-numeric, case insensitive characters, underscore ( _ ) character and dot ( . ) character only.  

What would you use for this task, please write your detailed answer with exact solution? Please  provide the link to your code as answer to this question 

**Example: for the device type AXO145, we would like to get xcd32112.smart_meter.com regardless from its access protocol is SSL secured or not.**

In [1]:
import ibm_db
import ibm_db_sa
import sqlalchemy

In [2]:
%load_ext sql

In [3]:
%sql ibm_db_sa://cwy02408:pyBgTyyf7j96G8VI@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB;security=SSL

In [4]:
%%sql
CREATE TABLE DEVICE(
    Device_Type varchar(250),
    Stats_Access_Link varchar(250)
);

 * ibm_db_sa://cwy02408:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB;security=SSL
Done.

[]

In [5]:
%%sql
INSERT INTO DEVICE(Device_Type, Stats_Access_Link) VALUES
('AX0145', '<url>https://xcd32112.smart_meter.com</url>'),
('TRU151', '<url>https://tXh67.dia_meter.com</url>'),
('ZOD231', '<url>https://yT5495.smart_meter.com</url>'),
('YRT326', '<url>https://ret323_TRu.crown.com</url>'),
('LWR245', '<url>https://luwr3243.celcius.com</url>');

 * ibm_db_sa://cwy02408:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB;security=SSL
5 rows affected.

[]

In [6]:
%%sql
SELECT *
FROM DEVICE;

 * ibm_db_sa://cwy02408:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB;security=SSL
Done.

[('AX0145', '<url>https://xcd32112.smart_meter.com</url>'),
 ('TRU151', '<url>https://tXh67.dia_meter.com</url>'),
 ('ZOD231', '<url>https://yT5495.smart_meter.com</url>'),
 ('YRT326', '<url>https://ret323_TRu.crown.com</url>'),
 ('LWR245', '<url>https://luwr3243.celcius.com</url>')]

In [7]:
%%sql
SELECT stats_access_link,
    LENGTH(stats_access_link)
FROM DEVICE;

 * ibm_db_sa://cwy02408:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB;security=SSL
Done.

[('<url>https://xcd32112.smart_meter.com</url>', 43),
 ('<url>https://tXh67.dia_meter.com</url>', 38),
 ('<url>https://yT5495.smart_meter.com</url>', 41),
 ('<url>https://ret323_TRu.crown.com</url>', 39),
 ('<url>https://luwr3243.celcius.com</url>', 39)]

In [8]:
%%sql
SELECT device_type,
    LOWER(SUBSTR(SUBSTR(stats_access_link, 14), 1, LOCATE('.com', stats_access_link)-14)) AS pure_url
FROM DEVICE;

 * ibm_db_sa://cwy02408:***@764264db-9824-4b7c-82df-40d1b13897c2.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32536/BLUDB;security=SSL
Done.

[('AX0145', 'xcd32112.smart_meter'),
 ('TRU151', 'txh67.dia_meter'),
 ('ZOD231', 'yt5495.smart_meter'),
 ('YRT326', 'ret323_tru.crown'),
 ('LWR245', 'luwr3243.celcius')]